.TimeCard {
  width: 100%;
}

.InternalContainer {
  background-color: var(--background-light);
  padding: 0 6px;
  border-radius: var(--border-radius-6);
  font-size: 0.9rem;
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DayTime {
  display: flex;
  flex-direction: column;
}

.NameHolder {
}

.Name {
  font-size: 1.2rem;
  color: var(--font-color-alt);
  font-weight: 500;
}

.CountryName {
  margin-top: -4px;
  opacity: 0.7;
  margin-bottom: 3px;
}

.Time {
  font-size: 1.2rem;
}

.Day {
  margin-top: -6px;
  opacity: 0.7;
}

.TimeCardOrder {
}

.TimeCardOrder > article {
  padding-left: 34px;
  position: relative;
}

.ReorderArrows {
}

.ReorderArrows > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ReorderArrows button {
  display: flex;
  background-color: transparent;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  flex: 1;
  padding: 4px 8px;
  width: 34px;
}

.ReorderArrows button svg {
  width: 18px;
  height: 18px;
  color: var(--font-color-alt);
}

.RemoveButton {
  position: absolute;
  top: 0;
  right: 0;
}

.RemoveButton button {
  display: flex;
  background-color: transparent;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 4px 8px;
  width: 40px;
  height: 40px;
}

.RemoveButton button svg {
  width: 18px;
  height: 18px;
  color: var(--color-danger-background);
}

@media (min-width: 900px) {
  .TimeCard {
    padding: 2px var(--space-1);
  }
}
