.Menu {
  position: fixed;
  bottom: var(--space-2);
  right: var(--space-2);
  z-index: 89;
  display: flex;
}

.MenuButton,
.AddButton {
  width: 50px;
  height: 50px;
}

.AddButton {
  margin-right: var(--space-2);
}

.MenuButton svg {
  width: 40px;
  height: 40px;
}

.AddButton svg {
  width: 35px;
  height: 35px;
}

@media (min-width: 900px) {
  .Menu {
    bottom: initial;
    right: inherit;
    top: var(--space-2);
    left: var(--space-2);
    flex-direction: column;
  }

  .AddButton {
    margin-right: 0;
    margin-bottom: var(--space-2);
  }
}
