.timezone {
  background-color: $backdrop-color;
  display: block;
  height: calc(100vh - 100px);
  width: 100vw;

  &__city {
    border-radius: 0 0 7px 7px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__add {
    align-items: center;
    background-color: $backdrop-color;
    bottom: 0;
    display: flex;
    height: 100px;
    justify-content: center;
    left: 0;
    position: fixed;
    width: 100vw;

    .city-new-add {
      align-items: center;
      background-color: $aui-n900;
      border-radius: 50%;
      display: flex;
      height: 3rem;
      justify-content: center;
      position: relative;
      width: 3rem;

      .icon {
        fill: $aui-n0;
      }
    }
  }

  .city {
    background-color: $aui-n0;
    display: flex;
    flex: 1;
    margin: 0;
    max-height: 50%;
    min-height: 25%;
    padding: .6rem;
    position: relative;

    &__half {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      width: 52%;

      &:nth-of-type(2) {
        padding-left: 1rem;
        width: 48%;
      }
    }

    &__name {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 3px;
      text-transform: capitalize;
    }

    &__country-name {
      font-size: 17px;
      margin-bottom: 1px;
      text-transform: capitalize;
    }

    &__country {
      font-size: 17px;
    }

    &__time {
      font-size: 17px;

      &--12 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 1px;
      }

      &--24 {
        font-size: 14px;
        font-weight: 400;
      }

      &--am {
        font-weight: 600;
      }

      &--day {
        margin-bottom: 5px;
      }
    }

    &__timezone {
      font-size: 14px;
    }

    &__delete {
      align-items: center;
      display: flex;
      height: 2rem;
      justify-content: center;
      position: absolute;
      right: .5rem;
      top: 1rem;
      width: 1.8rem;

      .icon {
        fill: $aui-n900;
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
}
