$base-font: 'Barlow', 'segoe ui', Helvatica, arial, sans-serif;
$base-color: #eee;
$base-alt-color: #000;
$dull-color: #f4f4f4;
$font-color: #000;
$font-alt-color: #fff;

$index-z-t5: 1000;
$index-z-t4: 500;
$index-z-t3: 100;
$index-z-t2: 10;
$index-z-t1: 1;
$index-z: 0;
$index-z-b1: -1;
$index-z-b2: -10;
$index-z-b3: -100;
$index-z-b4: -500;
$index-z-b5: -1000;
