.TimeZoneTable {
}

.TableControl {
  display: flex;
  margin-top: 30px;
  padding: 10px;
}

.tableInner {
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.table {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.thead {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
}

.thead th {
  font-weight: 500;
  padding: 6px;
  border: none;
}

.Tbody {
}

.TableRow:nth-child(even) {
  background-color: aliceblue;
}

.TableRow:hover {
  background-color: #d7e5f1;
}

.TableRow td {
  font-weight: 400;
  padding: 6px;
  border: none;
}

.Search {
  display: flex;
}

.SortableHead > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SortableHead svg {
  width: 18px;
  height: 18px;
}

.svgHolder {
  display: flex;
  margin-right: 8px;
}

.arrowsGroup {
  display: flex;
  color: #7e7d7d;
}

.Count {
  padding-left: 10px;
}
