<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <% include ./partials/head %>
  <body>
    <% include ./partials/svg-holder %>
    <div id="wrapper" class="wrapper">
      Time
    </div>
    <script src="<%= jsPath %>"></script>
  </body>
</html>
