<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <% include ./partials/head %>
  <body>
    <% include ./partials/svg-holder %>
    <div id="wrapper" class="wrapper">
      <div class="loading-screen">
        <span class="boat-img">
          <img src="/public/dist/favicon/logo-naked-128.png" alt="Boat">
        </span>
        <div class="water"></div>
      </div>
    </div>
    <script src="<%= jsPath %>"></script>
  </body>
</html>
