.MenuButton {
  position: fixed;
  bottom: var(--space-2);
  right: var(--space-2);
  z-index: 110;
  width: 50px;
  height: 50px;
}

.MenuButton svg {
  width: 40px;
  height: 40px;
}

@media (min-width: 900px) {
  .MenuButton {
    bottom: initial;
    right: inherit;
    top: var(--space-2);
    left: var(--space-2);
  }
}
