.ui-button {
  display: flex;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  height: 100%;
  font-size: 1.2rem;
  border-radius: var(--border-radius-6);
  height: 40px;
  background-color: var(--background-light);
  transition: filter 100ms ease-in;
  justify-content: center;
  color: var(--font-color-main);
}

.ui-button:hover {
  filter: brightness(0.97);
}

.ui-button:active {
  filter: brightness(0.9);
}

.ui-button svg {
  width: 18px;
  height: 18px;
}

.ui-button__white {
  background-color: var(--background-light);
}

.ui-button__white-primary {
  background-color: var(--background-light);
  color: var(--font-color-alt);
}

.ui-button__white svg,
.ui-button__white-primary svg {
  color: var(--font-color-alt);
}

.ui-button__sqaure,
.ui-button__rounded {
  height: 40px;
  width: 40px;
}

.ui-button__rounded {
  border-radius: 50%;
}

.ui-button__primary {
  background-color: var(--background-main);
}

.ui-button__safe {
  background-color: var(--color-safe-background);
}

.ui-button__danger {
  background-color: var(--color-danger-background);
}

.ui-button__primary:hover,
.ui-button__safe:hover,
.ui-button__danger:hover {
  filter: brightness(0.85);
}

.ui-button__primary:active,
.ui-button__safe:active,
.ui-button__danger:active {
  filter: brightness(0.75);
}

.ui-button__primary,
.ui-button__safe,
.ui-button__danger {
  color: #fff;
}

.ui-button__primary svg,
.ui-button__safe svg,
.ui-button__danger svg {
  color: inherit;
}

.ui-button__white.ui-button__outline,
.ui-button__white-primary.ui-button__outline {
  border: 1px solid var(--color-border-light);
}

.ui-button__iconPrefix svg {
  margin-right: 6px;
}

.ui-button__iconPostfix svg {
  margin-left: 6px;
}

.ui-button:disabled {
  color: var(--color-disable-text);
  cursor: not-allowed;
}

.ui-button:disabled svg {
  color: var(--color-disable-text);
}

.ui-button:disabled:hover {
  filter: none;
}

.ui-button:disabled:active {
  filter: none;
}
