.time-of-day__night {
  background-color: var(--color-bg-time-of-day__night);
}

.time-of-day__night button {
  background-color: var(--color-bg-time-of-day__night);
}

.time-of-day__earlyMorning {
  background-color: var(--color-bg-time-of-day__earlyMorning);
}

.time-of-day__earlyMorning button {
  background-color: var(--color-bg-time-of-day__earlyMorning);
}

.time-of-day__sunrise {
  background-color: var(--color-bg-time-of-day__sunrise);
}

.time-of-day__sunrise button {
  background-color: var(--color-bg-time-of-day__sunrise);
}

.time-of-day__morning {
  background-color: var(--color-bg-time-of-day__morning);
}

.time-of-day__morning button {
  background-color: var(--color-bg-time-of-day__morning);
}

.time-of-day__noon {
  background-color: var(--color-bg-time-of-day__noon);
}

.time-of-day__noon button {
  background-color: var(--color-bg-time-of-day__noon);
}

.time-of-day__sunset {
  background-color: var(--color-bg-time-of-day__sunset);
}

.time-of-day__sunset button {
  background-color: var(--color-bg-time-of-day__sunset);
}

.time-of-day__lateEvening {
  background-color: var(--color-bg-time-of-day__lateEvening);
}

.time-of-day__lateEvening button {
  background-color: var(--color-bg-time-of-day__lateEvening);
}
