.NoEntriesPlaceholder {
  max-width: 700px;
  margin: 0 auto;
  padding: var(--space-1);
  display: block;
  overflow: auto;
  padding-top: 30px;
  text-align: center;
  font-size: 1.2rem;
}

.NoEntriesPlaceholder button {
  font-weight: 600;
  height: 50px;
  width: 300px;
  display: inline-flex;
}

.NoEntriesPlaceholder svg {
  width: 24px;
  height: 24px;
}
