.AddModal {
}

.screen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 85%);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.dialog {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
  background-color: var(--background-light);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.Search {
  height: 60px;
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--color-border-light);
}

.Search input {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  position: relative;
  z-index: 12;
  background-color: transparent;
  padding-left: 36px;
  color: inherit;
}

.Search input:focus {
  padding-left: 8px;
  background-color: var(--background-light);
}

.Search button {
  color: var(--color-danger-background);
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 13;
}

.SearchIcon {
  position: absolute;
  left: 7px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.SearchIcon svg {
  width: 22px;
  height: 23px;
  color: var(--font-color-alt);
}

.Control {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Order {
  display: flex;
  width: 100%;
  padding: 6px 4px;
  font-size: 0.9rem;
  background-color: var(--backdrop);
  border-bottom: 1px solid var(--color-border-light);
}

.OrderPill {
  cursor: pointer;
  max-width: 150px;
  min-width: 80px;
  background-color: var(--background-light);
  border-radius: var(--border-radius-6);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border-light);
  height: 30px;
  padding-right: 6px;
}

.OrderPill:first-of-type {
  min-width: 120px;
}

.OrderPill:not(:first-of-type) {
  flex: 1;
}

.OrderPill:not(:last-of-type) {
  margin-right: 4px;
}

.OrderPillSelected {
  color: var(--font-color-alt);
}

.svgHolder {
  display: flex;
}

.arrowsGroup {
  display: flex;
}

.Order svg {
  width: 14px;
  height: 14px;
  color: var(--font-color-alt);
}

.arrowsGroup svg {
  color: #7e7d7d;
}

@media (min-width: 900px) {
  .dialog {
    top: 40px;
    height: 65vh;
    min-height: 400px;
    max-width: 700px;
    border-radius: var(--border-radius-5);
  }

  .Control {
    margin-top: auto;
    position: static;
  }
}
