:root {
  --backdrop: #e9e9e9;
  --background-light: #fff;
  --background-light-alt: #f1f6ff;
  --background-main: #0154ed;
  --font-color-main: #1f2124;
  --font-color-alt: #0154ed;
  --font-color-yellow: #e4cf4f;
  --color-selection: #cbe6fd;
  --color-disable-text: #9b9b9b;
  --color-safe-background: #2a852a;
  --color-selection-safe: #e3f3e3;
  --color-danger-background: #ed3333;
  --color-danger-background-light: #ffeaea;
  --color-border-light: #e3e3e3;
  --color-border-alt: #acc8fb;
  --color-modal-screen: rgb(0 0 0 / 10%);
  --paper-elevation-color-h: 0deg;
  --paper-elevation-color-s: 0%;
  --paper-elevation-color-l: 57%;
  --paper-elevation-color: var(--paper-elevation-color-h) var(--paper-elevation-color-s)
    var(--paper-elevation-color-l);

  --color-bg-time-of-day__night: #aecbfa;
  --color-bg-time-of-day__earlyMorning: #cfdef7;
  --color-bg-time-of-day__sunrise: #f7d1c0;
  --color-bg-time-of-day__morning: #cbf0f8;
  --color-bg-time-of-day__noon: #b4e5ff;
  --color-bg-time-of-day__sunset: #fdcfe8;
  --color-bg-time-of-day__lateEvening: #e7ccff;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;

  --border-radius-1: 1px;
  --border-radius-2: 2px;
  --border-radius-3: 3px;
  --border-radius-4: 4px;
  --border-radius-5: 5px;
  --border-radius-6: 6px;
  --border-radius-7: 7px;
  --border-radius-8: 8px;
  --border-radius-9: 9px;
  --border-radius-10: 10px;
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: var(--backdrop);
  color: var(--font-color-main);
}

body.dark {
  --backdrop: #192130;
  --background-light: #243044;
  --background-light-alt: #203960;
  --font-color-main: #dce3f1;
  --font-color-alt: #5f90ff;
  --color-selection: #052e50;
  --color-border-light: #21262e;
  --background-light-alt: #16366a;
  --color-border-alt: #2450a1;
  --color-danger-background-light: #3e3131;
  --color-modal-screen: rgb(0 0 0 / 39%);

  --color-bg-time-of-day__night: #1e3a5f;
  --color-bg-time-of-day__earlyMorning: #2e405e;
  --color-bg-time-of-day__sunrise: #522e1e;
  --color-bg-time-of-day__morning: #1e6085;
  --color-bg-time-of-day__noon: #005583;
  --color-bg-time-of-day__sunset: #5b2245;
  --color-bg-time-of-day__lateEvening: #42275e;

  --paper-elevation-color-h: 220deg;
  --paper-elevation-color-s: 49%;
  --paper-elevation-color-l: 5%;

  --paper-elevation-color: var(--paper-elevation-color-h) var(--paper-elevation-color-s)
    var(--paper-elevation-color-l);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
